group_vars/all.yml
terraform/ssh_keys/*
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.*
.DS_Store
ChooseYourSIEMAdventure/
group_vars/corp.yml
group_vars/windows.yml
group_vars/sec_tools.yml
files/comp_ssh_keys/*
files/exfil_files/*